@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app"> 
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <base href="/admin">
        <title>Blog Admin</title>
        <link href="~/css/admin.css" rel="stylesheet" />
        <meta name="description" content=""/>
    </head>
    <body>
        <div ng-controller="app.layout.NavigationController as navigation"
             ng-include="'app/layout/layout.html'"></div>
        <div ng-view>
        </div>


        @*Angular Set-Up*@
        <script src="~/lib/angular/angular.js"></script>
        <script src="~/lib/angular-route/angular-route.js"></script>
        <script src="~/lib/angular-sanitize/angular-sanitize.js"></script>
        <script src="~/lib/angular-cookies/angular-cookies.js"></script>
        <script src="~/lib/marked/lib/marked.js"></script>
        <script src="~/lib/angular-marked/lib/angular-marked.js"></script>

        @*Angular Core Setup*@
        <script src="~/app/app.module.js"></script>
        <script src="~/app/app.core.module.js"></script>
        <script src="~/app/app.config.js"></script>
        <script src="~/app/app.run.js"></script>
        <script src="~/app/app.values.js"></script>




        @*Features Core*@
        <script src="~/app/blocks/blocks.module.js"></script>
        <script src="~/app/blogposts/blogposts.module.js"></script>
        <script src="~/app/dashboard/dashboard.module.js"></script>
        <script src="~/app/layout/layout.module.js"></script>
        <script src="~/app/services/services.module.js"></script>
        <script src="~/app/sitesettings/sitesettings.module.js"></script>
        <script src="~/app/users/users.module.js"></script>
        <script src="~/app/usersettings/usersettings.module.js"></script>
        <script src="~/app/widgets/widgets.module.js"></script>

        @*Features Core*@
        <script src="~/app/blocks/logdecorator.config.js"></script>
        <script src="~/app/blogposts/blogposts.routes.js"></script>
        <script src="~/app/dashboard/dashboard.routes.js"></script>
        <script src="~/app/layout/navigation.controller.js"></script>
        <script src="~/app/sitesettings/sitesettings.controller.js"></script>
        <script src="~/app/sitesettings/sitesettings.routes.js"></script>
        <script src="~/app/users/users.routes.js"></script>
        <script src="~/app/usersettings/usersettings.routes.js"></script>
    </body>
</html>